<div class="auth-container">
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" required />
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" required />
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" required />
      </div>
      
      <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
  </div>
  