<section class="intro">
<h1>Welcome to Student 7</h1>
<p>האתר בבנייה וכרגע משמש לניהול בסיס הנתונים</p>
</section>

<section class="featured-deals">
    <h2>Featured Deals</h2>
    <div class="deals">
        <!-- Placeholder for deal items. -->
        <div class="deal">
        <img src="assets/flower.jpg" alt="Flower 1">
        <p>הטבה</p>
        </div>
        <div class="deal">
        <img src="assets/flower.jpg" alt="Flower 2">
        <p>עוד הטבה</p>
        </div>
        <div class="deal">
        <img src="assets/flower.jpg" alt="Flower 3">
        <p>משהו אחר</p>
        </div>
    </div>
</section>

<section class="promotions">
<h2>קבוצות בווצאפ</h2>
<p>כאן יהיו קבוצות ווצאפ.</p>
</section>