 <h1>קבוצות</h1>
 <button *ngIf="authService.isAdmin()" routerLink="/chats/add">צור חדש</button>

 <div class="chat-list">
  <div *ngFor="let chat of chats" class="chat-item">
    <a [routerLink]="['/chats/id', chat._id]" class="chat-link">
      <div
        class="chat-image"
        [ngStyle]="{ 'background-image': 'url(' + chat.imagePath + ')' }"
      ></div>
      <h2>{{ chat.name }}</h2>
      <p>{{ chat.description }}</p>
    </a>
    <!-- Hover Buttons -->
    <div class="hover-buttons">
      <button (click)="editChat(chat)">Edit</button>
      <button (click)="removeChat(chat)">Remove</button>
    </div>
  </div>
</div>

