 <h1>הטבות</h1>
 <button *ngIf="authService.isAdmin()" routerLink="/deals/add">צור חדש</button>

<div class="deal-list">
  <div *ngFor="let deal of deals" class="deal-item">
    <!-- Wrap the entire deal-item content (excluding the button) in a link -->
    <a [routerLink]="['/deals/id', deal._id]" class="deal-link">
      <div
        class="deal-image"
        [ngStyle]="{ 'background-image': 'url(' + deal.imagePath + ')' }"
      ></div>
      <h2>{{ deal.name }}</h2>
      <p>{{ deal.description }}</p>
    </a>
    <button>Add to Cart</button>
  </div>
</div>
